@import url(http://fonts.googleapis.com/css?family=Open+Sans:600);



.mrpepz {
  font-size: 40px;
  position: absolute;
  width: 450px;
  left: 50%;
  margin-left: -225px;
  height: 40px;
  top: 50%;
  margin-top: -20px;
}

p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.word {
  position: absolute;
  width: 220px;
  opacity: 0;
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.skyblue {
  color: #87ceeb;
}

.limegreen {
  color: #32cd32;
}

.crimson {
  color: #dc143c;
}

.aquamarine {
  color: #7fffd4;
}

.lightpink {
  color: #ffb6c1;
}
